.App {
    color: #38627b;
    position: relative;
    min-height: 100vh;
}

.wrapper-main {
    padding: 0 50px;
}

footer {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 0;
    padding: 20px 0;
}

header a {
    text-decoration: none;
    color: #5b7a8b;
}

.header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-left img {
    height: 65px;
    margin-right: 15px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    text-decoration: none;
    color: #e91e63;
}

.header-right img {
    margin-left: 5px;
    height: 30px;
}

.header-right p {
    padding-left: 10px;
}

.header-right img:hover {
    cursor: pointer;
    opacity: 0.6;
}

.milk-list {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 330px);
    justify-items: center;
}

.milk-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    margin: 30px 0;
}

.milk-list-text {
    display: flex;
    justify-content: space-between;
}

.milk-list-text button {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 0px solid;
}

.milk-list-text button:hover {
    box-shadow: 0 3px 24px rgb(0 0 0 / 20%);
}

.milk-list-text button:active {
    color: #fff;
    background-color: #2bf80a;
}

.milk-list-input {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #bdc3c7;
    padding: 0 15px 0 2px;
    width: 212px;
}

.milk-list-input img {
    height: 24px;
}

.input-btn {
    opacity: 0.5;
}

.input-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.milk-list-input input {
    border-radius: 5px;
    border: 0;
    outline: none;
    padding: 5px 10px 5px 4px;
}

.milk-item {
    position: relative;
    border: 3px solid #bdc3c7;
    border-radius: 25px;
    height: 240px;
    width: 170px;
    padding: 10px 15px 35px 15px;
    margin-bottom: 30px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

}

.milk-item:hover {
    border: 3px solid #85898c;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
}

.milk-item-heart {
    width: 19%;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
    height: 14%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/heart.png");
}

.milk-item-logo {
    width: 100%;
    height: 50%;
    text-align: center;
}

.milk-item-logo img {
    max-height: 100%;
}

.milk-item-price {
    display: flex;
    line-height: 0;
    justify-content: space-between;
    align-items: center;
}

.milk-item-add {
    width: 25%;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/add.png");
}

.milk-item-price span {
    font-weight: 300;
    font-size: 12px;
}

.milk-item-heart:hover, .milk-item-add:hover {
    opacity: 1;
}

.milk-item-heart:active, .milk-item-heart.active {
    background-image: url("images/heart-active.png");
}

.milk-item-add:active, .milk-item-add.active {
    background-image: url("images/check.png");
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.wrapper-cart {
    position: fixed;
    width: 30%;
    height: 100%;
    right: 0;
    z-index: 0;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}

.cart {
    background-color: #f3eeee;
    width: 100%;
    height: 100vh;
}

.cart-header {
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header p {
    margin: 0px 0 0 23px;
}

.cart-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 50px;
}

.cart-link b {
    color: #f40505;
}

.cart-main {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-list {
    overflow: auto;
}

.cart-item {
    border: 2px solid #bdc3c7;
    background-color: #fff;
    overflow: hidden;
    width: 97%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.cart-item:hover {
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
}

.cart-item-logo {
    width: 23%;
    height: 70%;
    text-align: center;
}

.cart-item-logo img {
    max-height: 100%;
} 

.cart-item-text {
    width: 75%;
    margin-left: 10px;
}

.cart-item-remove {
    width: 12%;
    height: 40px;
    cursor: pointer;
    opacity: 0.3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/remove.png");
}

.cart-item-remove:hover {
    opacity: 0.7;
}

.cart-item-remove:active {
    opacity: 1;
}

.cart-order {
    text-align: center;
}

.cart-order-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-order button, .cart-empty button, .cart-completed button, .orders-favorits-empty button {
    color: #fff;
    width: 90%;
    height: 40px;
    border-radius: 15px;
    background-color: #2de210;
    border: 1px solid #41d329;
}

.cart-order button:hover, .cart-empty button:hover, .cart-completed button:hover, .orders-favorits-empty button:hover {
    color: #0d0202;
    box-shadow: -10px 4px 24px rgb(0 0 0 / 20%);
}

.cart-order button:active, .cart-empty button:active, .cart-completed button:active, .orders-favorits-empty button:active {
    color: #fff;
    background-color: #2bf80a;
}

.cart-empty, .cart-completed, .orders-favorits-empty {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

.cart-empty img, .cart-completed img, .orders-favorits-empty img {
    width: 50%;
}

.orders-favorits-empty {
    width: 25%;
    margin-top: 150px;
}

@media (min-width: 200px) and (max-width: 685px) {
    .header-left {
        font-size: 12px;
    }
    .slider {
        height: 200px;
    }
}

@media (min-width: 200px) and (max-width: 585px) {
    .header-left img {
        height: 0;
        margin-right: 0;
    }
    .milk-list-header {
        font-size: 10px;
    }
}

@media (min-width: 200px) and (max-width: 505px) {
    .header-left, .milk-list-text {
        display: none;
    }
    header, .milk-list-header {
        justify-content: space-evenly;
    }
}

@media (min-width: 200px) and (max-width: 1000px) {
    .cart-item-logo {
        height: 50%;
    }
    .cart-item {
        height: 70px;
        font-size: 10px;
    }
}





.wrapper-slider {
    display: flex;
    align-items: center;
}

.slider {
    height: 350px;
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    
}

.slider-left, .slider-right {
    cursor: pointer;
    position: absolute;
    top: 47%;
    z-index: 2;
    opacity: 0.3;
}

.slider-left:hover, .slider-right:hover {
    opacity: 1;
}

.slider-left {
    left: 0;
}

.slider-right {
    right: 0;
}


.wrapper-slider-list {
    display: flex;
    width: 500%;
    height: 100%;
    position: relative;
    left: 0px;
}

.slider-list {
    display: flex;
    width: 100%;
    position: relative;
    transition: all ease-in-out 1s;
}

.slider-item {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-1 {
    background-image: url("images/slider1.jpg");
}

.item-2 {
    background-image: url("images/slider2.jpg");
}

.item-3 {
    background-image: url("images/slider3.jpg");
}

.item-4 {
    background-image: url("images/slider4.jpg");
}

.item-5 {
    background-image: url("images/slider5.jpg");
}

@media (min-width: 200px) and (max-width: 900px) {
    .slider {
        height: 200px;
    }
}

@media (min-width: 200px) and (max-width: 900px) {
    .slider {
        height: 140px;
    }
    .slider-left, .slider-right {
        top: 34%;
    }
}

